#login-div {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 1em;
    position: absolute;
    top: 25%;
    left:50%;
    transform: translate(-50%,-50%);
}

#button-div {
    text-align: center;
    padding: 1em;
}

.bodyBackground {
    background: url(https://images.unsplash.com/photo-1527234639945-70d78416bd7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=721783d6df00ea979608158fd776675e&auto=format&fit=crop&w=1438&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    background-position: center
}

body {
    min-height: 100vh;
}

.loggedInBackground {
    background:
                url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdff4c62302fd44491d4850202323d11&auto=format&fit=crop&w=2700&q=80);
                background-color: rgba(255, 255, 255, 0.6);
                background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
    background-position: center
}

.bodyBackground h1 {
    color: white;
    font-family: 'Galada', cursive !important;
    font-size: 3em !important;
}


#login-button,
#register-user-button,
#registerUserButton {
    color: black;
    background-color: rgba(255, 255, 255, 0.671);;
    border: none
}

#login-button:hover,
#register-user-button:hover,
#registerUserButton:hover {
    background-color: white
}

* {
    font-family: 'Roboto', sans-serif;

}