

.title-pTag {
    font-size: 1.5em;
 }
 .card-info {
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                 0 3px 1px -2px rgba(0, 0, 0, 0.2), 
                 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 }

 .hover-me:hover {
    transform: scale(1.025);
 }
 
 .task-card span {
     padding-right: .25em;
 }
 
 #task-container h3 {
     color: white;
     padding-top: .35em;
 }
 
 #task-container .card-header {
     background-color: #007bff;
     justify-content: space-between;
 }
 
 #new-task-button {
    color: white;
    background-color: rgb(106, 219, 0);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    transform: scale(1);
    transition: all .3s;
 }

 #new-task-button:hover {
    border-radius: 50%;
    transform: scale(1.2);
    background-color: rgba(106, 219, 0, 0.651);
    box-shadow: 0px 13px 25px -4px rgba(77,77,77,1);
}

 .task-footer {
     display: flex;
     justify-content: space-between;
 }
 
 .edit-task-btn {
     color: white;
     background-color: #007bff;
 }

 #task-container {
     border: 1px solid gray !important
 }