

.title-pTag {
    font-size: 1.5em;
 }
 .card-info {
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                 0 3px 1px -2px rgba(0, 0, 0, 0.2), 
                 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 }
 
 .task-card span {
     padding-right: .25em;
 }
 
 #task-container h3 {
     color: white;
     padding-top: .35em;
 }
 
 #task-container .card-header {
     background-color: #007bff;
     justify-content: space-between;
 }
 
 #new-task-button {
     color: white;
     background-color: #28a745;
 }
 
 .task-footer {
     display: flex;
     justify-content: space-between;
 }
 
 .edit-task-btn {
     color: white;
     background-color: #007bff;
 }